[2013-11-03 20:58] sc0ttkclark opened #1 "Figure out a good name for this plugin"
@pglewis @Shelob9 @Desertsnowman

This plugin is pretty cool, check out the screenshots and give it a run at some point, @Desertsnowman will post the link to his post about it.

We are just about ready to put this out, but we still need to figure out a good name for it. Does anyone have any thoughts?

It does three things very nicely:
- Advanced Templating, with assets and autocompletion magic loo

[2013-11-03 21:21] DavidCramer commented on #1
Screenshots and details can be found here http://cramer.co.za/pods-framework-front-end-suite/

[2013-11-03 21:52] Shelob9 commented on #1
@Desertsnowman This === awesome.

@sc0ttkclark Is the metabox manager still happening and being called the metabox manager?

If so, for consistency's sake I vote for Display Manager or Front-end Display Manager

[2013-11-03 21:54] sc0ttkclark commented on #1
Metabox manager will be labeled as 'Groups' in the admin, but yeah it's happening in Pods 2.4

[2013-11-03 21:55] sc0ttkclark commented on #1
My ideas:
- Pods Display Suite
- Pods Advanced Templates
- Pods Template Builder

[2013-11-03 22:03] sc0ttkclark opened #2 "Review UI"
There may be ways to bring the UI closer to WP core UI in certain areas

[2013-11-03 22:16] Shelob9 commented on #1
OK. Then I vote for Pods Display Suite or anything that doesn't use the word 'template' since I have enough fun differentiating between Pods Templates, WordPress theme templates and the Pods Templates component already.

[2013-11-04 00:08] bonsak opened #3 "Maybe put a 'Back-' or a 'Cancel-button' on edit screens"
Hi
This looks absolutely awesome! I've been wanting this kind of functionality in Pods for a long time :)  I don't know where you are in the process of finishing the UI, but i think there should be either a Home-button or a Cancel-button in the edit screens. Now i have to use the browsers back-button if i don't want to save.

[2013-11-04 04:48] DavidCramer commented on #3
The UI is what I'm working on the week. I'm bringing it down to look more native WordPress styling. To a point.
Thanks for the input, I normally use the side links to go back, but yes, a cancel or home is a good idea.

[2013-11-04 04:51] DavidCramer commented on #2
My current UI cleanup is all about making it closer to WordPress core.

[2013-11-04 04:57] DavidCramer commented on #1
More options:
Pods Front
Pods Front-end Designer
Pod Views

[2013-11-04 05:22] Shelob9 commented on #2
@Desertsnowman Have you seen this: https://github.com/helenhousandi/wp-style-guide ? Might be useful.

[2013-11-04 06:11] sc0ttkclark commented on #1
I like something with Front on it, that sounds good.

More ideas:
- Pods Frontend Builder
- Pods Frontier :)
- Pods Layout Builder
- Pods Layouts

[2013-11-04 08:07] bonsak commented on #3
Cool. On second thought: Maybe a Cancel button is not needed if there was a way to get from the edit screen and back to the layout/form/template manage-list you're coming from instead of going to the DisplayPods dashboard.

[2013-11-04 08:45] sc0ttkclark commented on #2
@Desertsnowman great, wasn't sure if you were planning on doing any of that in this initial release so figured I'd take the pressure off and target 2.0 but 1.0 would be great.

[2013-11-04 08:47] DavidCramer commented on #2
When I make new plugins I use my own little prototyping framework which allows me not to worry to much about the interface and focus on functionality. After function comes form. I know all that it can do and I can start cleaning up the UI to make controlling it easier.

[2013-11-04 08:49] DavidCramer commented on #2
@Shelob9 I have seen it and it is very useful, thanks.

[2013-11-04 14:41] bonsak opened #4 "Template html editor magictag autocomplete bug"
I can't use backspace on righthand curly-brackets when editing in the html template edit screen.
Test: Enter "{@post_title} and try to delete the right most bracket with your backspace key. The editor re-inserts the "}" immediately after its deleted.

[2013-11-04 14:54] DavidCramer commented on #4
The autocomplete is a little obsessive. If there is only a single match it autocompletes it.
I'll put in some intent detection to disable autocomplete on the backspace key.

[2013-11-04 14:55] bonsak commented on #4
Sweet

[2013-11-04 14:56] DavidCramer commented on #1
I'm kinda liking Frontier :D

[2013-11-04 16:04] KoenRijpstra commented on #1
+1 Pods Frontier
- Pods Frontal :P

[2013-11-04 19:08] Shelob9 commented on #1
Pods, The New Frontier, to boldly go were no WordPress development
framework has gone before.

On Monday, November 4, 2013, Koen Rijpstra wrote:

[2013-11-04 21:32] sc0ttkclark commented on #1
Really liking **Pods Frontier**, sounds like a really good step towards branding this as what it is :)

[2013-11-04 21:43] Shelob9 commented on #1
+1 especially if the announcement about it comes with a picture of Scott dressed up as Caption Kirk.

[2013-11-04 22:01] sc0ttkclark commented on #1
May need to do a group photo for this one...

[2013-11-06 18:06] bonsak opened #5 "Display single record in template inside layout"
With a template inside a layout, i specify a single item-id on the "Specific item"-tab but it doesn't show anything on the front-end. It works if i insert only the template on a page like this: [displaypod dp=5276d94943a90 id=3038] or if i use WHERE on the query-tab and set it to id=3038

[2013-11-06 18:23] bonsak opened #6 "Template confusion"
Are Templates in this plugin and Templates in Pods supposed to be interchangeable? Its a little confusing that both this plugin and Pods have an entity of "Templates". It took me a little while to realize that they are not the same thing. Maybe it should be differentiated?

[2013-11-06 22:30] bonsak opened #7 "Consider option for selective css-loading on front-end"
I'm not sure what you have planned for the styling concept of the plugin, but maybe you could consider adding an option to not load typographic css styles on the front-end. The scaffolding css obviously needs to be there, but it would be nice to have the option to use your own themes typography css style without having to override the plugin css.

[2013-11-06 23:46] bonsak opened #8 "Sort order in layout"
I might be missing something, but is there an option for sortorder when listing pods through a template in layout?

[2013-11-08 17:21] DavidCramer commented on #5
Thanks, I'll take a look and sort it out.

[2013-11-08 17:23] DavidCramer commented on #6
The prototype of this plugin fed off the pods templates, but with this version, they are separate.

I think you have a point, this needs to be more defined to indicate its a separate item.

any suggestions?

[2013-11-08 17:26] DavidCramer commented on #7
That is indeed in the plan. the grid layout is a core feature but everything else is secondary.
One of the features still in the works (maybe a later release) are field wrappers. little custom templates you can make for each field to give you complete freedom.

but yes, styling is going to be optional.

[2013-11-08 17:27] DavidCramer commented on #8
the version I'm working on (still need to commit the changes) has an advanced tab for templates, which gives you.

[2013-11-08 18:08] bonsak commented on #7
Sounds great!

[2013-11-08 18:19] bonsak commented on #6
Maybe just an abbreviation of the eventual name of this plugin as a prefix to "template" is sufficient, until they can be used interchangeable? PDS-template, PF-template? :)

[2013-11-08 18:33] sc0ttkclark commented on #6
- Frontier Template
- Frontier View

[2013-11-08 18:35] bonsak commented on #6
Frontier Template +1

[2013-11-08 18:36] bonsak commented on #8
Great!

[2013-11-08 18:36] sc0ttkclark commented on #1
Frontier sounds really good for this, let's pull the trigger and do it!

Please Note: @curtismchale @davidj7 @domnusca @fastone @jchristopher @mgibbs189 @KoenRijpstra @kamilgrzegorczyk @bonsak @naomicbush @pglewis @Ramoonus @shelob9 @unknownnf

This means the repo location will be changing from pods-framework/pods-display-suite to pods-framework/pods-frontier

[2013-11-08 18:36] #1 closed, assigned to sc0ttkclark

[2013-11-08 18:37] sc0ttkclark commented on #1
OK, it has been renamed!

https://github.com/pods-framework/pods-frontier

[2013-11-08 18:43] Shelob9 commented on #6
I'm still worried about having to difrentiate between Pods Templates,
templates in themes and now Frontier Templates.

For that reason I vote for calling these 'Views'

On Friday, November 8, 2013, bonsak wrote:

[2013-11-08 18:43] sc0ttkclark opened #9 "Normalize terminology from Display Suite / DisplayPod to Frontier"
Before we launch 1.0, we'll need to be sure we switch all terminology / logos out for the plugin to really spruce it up and take advantage of the strong 'Frontier' branding. I can get us some outside logo help if you want.

[2013-11-08 22:17] naomicbush commented on #9
Started working on this — realized that using _PodsFrontier_ as a noun to replace _DisplayPod_ was a bit less intuitive than the latter

Example: _Create a new _PodsFrontier__ vs. _Create a new _DisplayPod__

So @sc0ttkclark decided on _FrontierDisplay_ and also removing the camelCase to follow WordPress Coding Standards (http://make.wordpress.org/core/handbook/coding-standards/php/#naming-convent

[2013-11-08 22:26] sc0ttkclark commented on #9
Any references to DisplayPod in the UI as a singular / plural term, like in your above example, we probably need something better to call it that makes sense to the user. As part of #6 maybe that's "Frontier View".

[2013-11-09 07:01] DavidCramer commented on #9
I like the sound of Frontier View. My thinking was also on the term "view"

-----Original Message-----
From: "Scott Kingsley Clark" notifications@github.com
Sent: ‎2013-‎11-‎09 00:26
To: "pods-framework/pods-frontier" pods-frontier@noreply.github.com
Cc: "David Cramer" dlcramer@gmail.com
Subject: Re: [pods-frontier] Normalize terminology from Display Suite /DisplayPod to Frontier (#9)

Any referen

[2013-11-11 02:38] naomicbush commented on #9
@Desertsnowman realized this will take you a lot less time than me :-) All yours.

[2013-11-11 10:30] DavidCramer commented on #9
I'm working on UI at the moment so, yes it probably would.

[2013-11-11 10:32] DavidCramer commented on #6
+1 Frontier View

[2013-11-14 04:56] Shelob9 opened #11 "In template editor, text is cut off on the right side"
When editing templates the first three characters in a line are cut off.
I am testing with Pods 2.3.18/ WP 3.8alpha in Chrome for Mac (OSX10.9)

![screen shot 2013-11-13 at 11 53 33 pm](https://f.cloud.github.com/assets/1994311/1538510/ed286808-4ce8-11e3-88ec-620801515256.png)

[2013-11-15 09:17] DavidCramer commented on #11
I totally missed that. Thanks.

[2013-12-08 02:47] sc0ttkclark opened #12 "Config option to make Frontier Templates/Views File-based in theme"
Could look for and save files in theme folder /wp-content/themes/mytheme/pods/templates/my-template.php

It could have file headers similar to WP page templates for labeling.

[2013-12-08 14:20] sc0ttkclark opened #13 "Extend Layout editor with custom element types and elements"
This could allow people to extend (like our Pods Gravity Forms add-on) with additional element types. The HTML element allows for shortcodes, but this would just be easier since they could have "Gravity Form" element type which they could drag in and select the specific form they want, or use it for embedding other types of content, widgets, or user information.

[2013-12-08 18:05] DavidCramer commented on #12
Actually sounds like a great idea- Will look into it.
I do file writing and exporting in Caldera Engine so I have done this kind of thing before.

[2013-12-08 18:06] DavidCramer commented on #13
Already started with this. So in a way, the plugin for a plugin can have plugins.

[2013-12-10 18:29] sc0ttkclark commented on #13
Updated the description of the issue.

[2013-12-10 18:32] sc0ttkclark commented on #6
We went with this terminology:
- Frontier Views (the templates)
- Frontier Layouts (the layouts that can embed views and forms and other element types like HTML)
- Frontier Forms (custom Pod forms)

[2013-12-10 18:32] #6 closed, assigned to DavidCramer

[2013-12-10 18:33] sc0ttkclark commented on #9
@Desertsnowman is this already done? I think it is, but you can clarify. The shortcode / functions should be normalized with "pods_frontier_*" and `[pods_frontier ....]` or `[frontier ....]`

[2013-12-12 06:27] DavidCramer commented on #9
current structure is [frontier view="id"]

[2013-12-13 07:24] sc0ttkclark opened #14 "Merge Frontier Views into the existing Pods Template component"
Let's merge what we've got for Frontier Views (based on your Mini-frontier work you showed me today / yesterdayish) into our core Pods Template component. Here's a task list to help you keep track of what needs to happen. We'll eventually be decoupling all of the components in Pods core itself, and at that point, Pods Templates may find it's way back into Frontier, but for now, let's avoid two sep

[2013-12-13 07:30] sc0ttkclark commented on #14
Implement changes into the Pods 2.x branch, maybe do a pull request for now as a fork or as a separate branch based on 2.x, up to you, we'll likely release Pods 2.3.19 or a smaller set of features in Pods 2.4 than what's slated for Pods 3.0

[2013-12-13 17:14] DavidCramer commented on #14
I'm on it! I'll do a new branch 2.x-frontier ok with that?

[2013-12-13 17:57] sc0ttkclark commented on #14
Sure, sounds good!

[2013-12-14 19:02] DavidCramer commented on #14
pushed first update to 2.x-frontier branch.
I updated codemirror and added my custom plugin for the autocomplete. Modified it a little by adding in the loadpod reference to the autocomplete plugin directly. so now {@ brings up the "no pod loaded" option and selecting it brings up a load reference pod select box. This means it doesn't save the the actual pod reference, it simply loads it for autoco

[2013-12-14 19:04] DavidCramer commented on #14
Oh, and pressing Ctrl+P brings up the load pod reference panel to switch pod.

[2014-01-09 07:28] DavidCramer commented on #2
I'm breaking the components down to custom post types:
- Views
- Forms
- Layouts

This will bring the UI to core and make things much easier to manage.

[2014-01-13 19:33] tripflex opened #15 "foreach error"
After initial 1.x install, it shows a foreach error on admin side page, just installed it literally minutes ago haven't had change to debug, but here's the error:

[code]

[2014-01-13 19:36] tripflex commented on #15
Oh and on line 12 as well:

[code]

I'm guessing it may just be because there aren't any forms, layouts, etc, defined yet and maybe just need to set empty just to suppress error message

[2014-01-13 20:58] tripflex commented on #11
Confirmed this as well, both in Chrome and Firefox ... but, it's cut off on the left side :)

[2014-01-13 21:03] tripflex opened #16 "Layout editor accordion cutoff/scroll"
Layout editor uses what looks like jquery ui accordion, but it should probably be updated to be responsive based on browser size.

Preview:
https://smyl.es/img/Selection-1731x387-37.png

[2014-01-14 08:05] sc0ttkclark commented on #15
Seems like a basic PHP warning, nothing to worry about here, it just appears when you have no data. I'm sure @Desertsnowman will clean it up along with any others he finds as we prepare for the public beta.

[2014-01-16 21:27] tripflex commented on #7
+1 for this feature as well!  Maybe even just the option to disable default frontier styles all together, or individually per field

[2014-01-16 21:35] tripflex opened #17 "Form builder select for label/description"
It appears when you deselect "label" or "description" it still shows when you output the form using shortcode.

Not sure if that was added in there layout wise and functionality still needs to be added or if it's a bug, but wanted to point it out.

Figured this out when I was attempting to set the description as the placeholder, and then remove the description from showing on the form output.

[2014-01-17 06:12] DavidCramer commented on #15
Yup. the current version up here is merely a proof of concept and was written in line of thought.
The beta release, coming soon, will be cleaned and validated correctly.

[2014-01-17 06:14] DavidCramer commented on #16
UI changes in the upcoming beta has moved these to core metaboxes which inherit the responsive nature of WordPress.

Thanks for spotting it though!

[2014-01-18 03:58] tripflex commented on #15
Any chance to get a taste, maybe another branch?  Would like to contribute if possible.  Using this for a pretty large site so will be doing a lot of heavy testing (already sorta have) and i'm sure there will be plenty of things that come up that I would either like to integrate or fix (to work on my site) and I can then contribute that code back to the community

[2014-01-18 18:54] DavidCramer commented on #14
Created a plugin to do the overrides for now committed to branch 1.x-template-editor.
On the point of "Frontier loop handling support in Pods Template handler, would be interested to see what changes are needed here"
No changes where needed. All work is done in the 'pods_templates_pre_template' and 'pods_templates_do_template' filters and some tricky magic.

[2014-01-18 18:59] DavidCramer commented on #15
@tripflex I pushed just the template editor to the 1.x-template-editor branch which you can test out if you like. It simply modifies the Pods Template component with the Frontier editor.

[2014-01-27 00:49] tripflex commented on #15
Doh my other projects were filling up my inbox with notifications and I must have missed this one!  Just cloned the repo, going to start doing some heavy lifting with it, will let you know how it goes, thanks!!

[2014-01-27 18:40] tripflex opened #18 "FEATURE: re-sizable editor in template editor"
Would make it a lot easier to work with if the template editor could be re-sized like other textarea boxes.  Being as though it's more of a code editor may be a little bit more work, but that's one of the first things I see that would be beneficial.

[2014-01-28 09:38] DavidCramer commented on #18
Already noticed and have planned to work it.

[2014-04-20 16:09] #18 closed, assigned to nobody

[2014-04-20 16:11] #15 closed, assigned to DavidCramer

[2014-04-20 16:11] #16 closed, assigned to nobody

[2014-04-20 16:11] #11 closed, assigned to nobody

[2014-04-20 16:12] #2 closed, assigned to sc0ttkclark

[2014-04-20 16:12] #4 closed, assigned to DavidCramer

[2014-04-20 16:13] DavidCramer commented on #5
Merged fully with the standard templates.

[2014-04-20 16:13] #5 closed, assigned to DavidCramer

[2014-06-18 06:44] sc0ttkclark opened #19 "Update Readme and W.org plugin banner"

[2014-06-18 06:44] sc0ttkclark opened #20 "Release Announcement post"

[2014-06-18 07:45] DavidCramer commented on #17
removed option

[2014-06-18 07:45] #17 closed, assigned to nobody

[2014-06-19 02:27] Shelob9 opened #21 "New Frontier Dialog Box-> Don't Require Description?"
I'm not sure when creating a new Frontier layout or form that the description field should be required. In my use the title is descriptive enough and it's not needed.

[2014-06-19 02:30] Shelob9 opened #22 "New Frontier Dialog Box-> Make create instead of cancel primary."
I think this is working against established WordPress UI pattern that encourages you to push the blue button.

![screen shot 2014-06-18 at 10 28 57 pm](https://cloud.githubusercontent.com/assets/1994311/3323109/7f53ad30-f759-11e3-9b44-c7fbc505c36a.png)

[2014-06-19 02:57] Shelob9 opened #23 "Query Containers Do Not Retain Values"
I am creating a layout with custom queries and when I save and close the layout and then reopen the query containers do not have any values set.

[2014-06-19 03:23] Shelob9 commented on #19
Readme.md is nearly in place. I'm keeping this in the readme branch until everything it describes is working properly.

[2014-06-19 06:10] #21 closed, assigned to nobody

[2014-06-19 06:10] #22 closed, assigned to nobody

[2014-06-19 08:33] DavidCramer opened #24 "Corrections on command tags"
@Shelob9 I Was working from memory last night about some functionality.
I went over it this morning to fix and confirm things so here they are.

**[each]**
This is a loop on a relation. If **books** has a relation to **chapters** then you would do:

[code]

Inside the each the tags are context based meaning you don't need the `chapters` part. and can use just {@post_title} but then you loose autoc

[2014-06-19 08:46] sc0ttkclark commented on #24
This looks pretty cool!

I only have the concern that we're using the WP shortcode syntax when there could be possible conflicts from shortcodes of the same names. I wonder if we used the syntax `{{.....}}` instead, and did our own parsing of those, either via a forked or specialized version of what shortcodes do in their parsing function.

[2014-06-19 09:09] DavidCramer commented on #24
On a technical aspect, I pre-filter the tags and replace them with the true shortcodes, which are:
- pod_sub_template
- pod_once_template
- pod_after_template
- pod_before_template
- pod_if_field

They have more complex internal functionality so you can just use them as is. specifically since WP shortcodes cannot be nested:

[code]

This will break in normal use. If you look at my last example, I

[2014-06-19 18:40] Shelob9 opened #25 "[IF] issue"
In this case the field 'wys' is a WYSIWYG field. This is my template:

[code]

If there is no value for 'wys' I get no output, which is expected. If I add "foo" to wys field, I get:

[code]

The tag is not converted inside of the if block.

Ability to show a label for a field, only if field has a value is a very common request.

[2014-06-19 19:10] Shelob9 commented on #24
@Desertsnowman Thank you for the corrections. I am working on updating the reamde, which is coming together nicely. What would be an example use for the before and after tags? Not sure what's the functional difference between using them, and just putting something at the begging and end of the template.

[2014-06-20 06:09] DavidCramer commented on #25
The commands are actually a part of the template component as per #14
I'll replicate this to the Pods issues and then fix.

[2014-06-20 06:30] DavidCramer commented on #24
@Shelob9 Lets say you are listing multiple Pod items using a shortcode like this: [pods name="book" template="Books"].
Now if you want the book list to be in a unordered list, you'll need some way to have the `<ul>` and `</ul>` start and end correctly. Using shortcodes is fairly simple as you can place the tags in the editor like:
Template:

[code]

Page Content:

[code]

This is all fine, but you

[2014-06-20 17:31] Shelob9 commented on #24
@Desertsnowman Thanks, that makes sense. Before runs before all iterations, after runs after all iterations, when the template is called in a context that calls it to loop.

I will get the readme finished tonight or tomorrow.

[2014-06-20 19:54] fienen opened #26 "Enabling plugin does not activate component"
After installing and activating the Pods Frontier plugin, from the end-user, it appears to be complete. The plugin is active, and you see the tab for template settings on the pods. But you still have to go through Pods Admin > Components and activate the template component there to actually make use of the functionality, a step that doesn't appear to be documented anywhere.

It would probably be i

[2014-06-21 00:10] Shelob9 commented on #26
@thequicksilver Good point. I agree. Templates should now be force activated.

Closing via 7d88aae

[2014-06-21 00:11] Shelob9 opened #27 "Shortcode should use Frontier name not ID"
The frontier shortcode references ID, this is a bad system for humans to keep track of. Would be so much easier if it used name or slug or similar.

[2014-06-21 00:36] Shelob9 commented on #23
I am reopening this as I am still not able to save query containers.

[2014-06-21 00:43] Shelob9 opened #28 "Reverse cancel & submit buttons primary class usage"
Same reason as I gave for #22. Lot's of buttons with the primary class that do cancel or delete and buttons for submit or add that do not have primary class. It's playing against the established usage pattern in WordPress admin.

[2014-06-21 01:06] #23 closed, assigned to nobody

[2014-06-21 06:20] DavidCramer commented on #27
Agreed - will do some sort of slug or name

[2014-06-21 06:22] DavidCramer commented on #28
Agreed. I'm used to highlighting buttons that do dangerous actions like delete. But in WordPress it's opposite.

I'll make changes.

[2014-06-21 19:33] Shelob9 commented on #28
You may be right about highlighting dangers, but going against an established pattern is a bigger danger. BTW I realize now that this same issue was bothering me in Caldera Forms, I kept removing things inadvertently and not realizing where they went.

[2014-06-21 19:52] DavidCramer commented on #28
Ye I realized that and am working on it.

-----Original Message-----
From: "Josh Pollock" notifications@github.com
Sent: ‎2014-‎06-‎21 09:33 PM
To: "pods-framework/pods-frontier" pods-frontier@noreply.github.com
Cc: "David Cramer" dlcramer@gmail.com
Subject: Re: [pods-frontier] Reverse cancel & submit buttons primary classusage (#28)

You may be right about highlighting dangers, but going against

[2014-06-21 20:49] Shelob9 opened #29 "Query Container Has No Effect On Output"
I have a query container in a row followed by a template for a book CPT. I can't get the query container to modify what the template outputs via positive or negative conditionals. I also tried putting the query container under the template.

@Desertsnowman Is this a bug or am I using it wrong?

Related issue #23

[2014-06-21 20:53] Shelob9 commented on #14
Just to revisit this, I'm wondering if we might want to remove the Template component from Pods core entirely in 3.0 and move it all into Frontier? Remembering that plugins will be installable via the components admin in 3.0, which I promise to finish next week.

We could have a "classic mode" that will be the old functionality only. Might make sense to merge Pods Frontier and Pods Frontier Auto T

[2014-06-21 22:46] sc0ttkclark commented on #14
The long term goal is for the components to live entirely on their own as plugins. The Templating component was going to get merged into Frontier at some point, so it won't become it's own plugin like the rest, it'll get absorbed.

I don't know that 3.0 is a good time for this, but I think we should have Frontier include it's own template code, so when Frontier is activated, there is no "Template"

[2014-06-22 06:16] DavidCramer commented on #29
screenshot of the settings?

[2014-06-22 18:21] Shelob9 commented on #29
![screen shot 2014-06-22 at 2 21 15 pm](https://cloud.githubusercontent.com/assets/1994311/3352232/0c8cdd9c-fa3a-11e3-83f2-83b5fad02306.png)

[2014-06-23 10:52] carlosrovira opened #30 "Frontiers admin layout broken"
I'm new to this plugin and just installed to test it since I'm very interested. I'm facing what seems a huge problem since make it almost unable to manage the plugin in an easy way.

Frontier admin shows form elements behind others making very difficult to edit the top ones
. You end imagining what box you selected since you can't read the label. I upload a screen shot

![captura de pantalla 2014-

[2014-06-23 11:47] carlosrovira opened #31 "Blank Form on Resave"
Prestate: You have various pods available.

When you create a Frontier Form for a pod and reopen it to make changes it shows a blank form on page output.

After dig it a while I see that pod drop down is selecting another pod (not the one I choose when created), in my case a taxonomy. (imagine the pod is "pet" and the taxonomy is "pet_type".

So you need to always open the drop down and force the

[2014-06-23 18:38] Shelob9 commented on #30
@carlosrovira Thanks for this report. As you know, this plugin is still under development and these sorts of reports are very helpful for us as we work to get this plugin finished.

Can you please let us know what browser and operating system, as well as version of Pods and WordPress that you are experiencing this issue with?

[2014-06-24 07:43] carlosrovira commented on #30
Hi Josh,

I'm on latest OSX 10.9.3, latest Pods 2.4.2 and latest wordpress 3.9.1

I'm very interested in this plugin so I'll be testing and reporting what I see to help improve and reach the stable version.

Thanks for such great piece of software!

Carlos

[2014-06-24 15:11] Shelob9 commented on #30
Carlos,

Thanks for the additional information. What browser are you testing in? I don't see these issues with latest Chrome on OSX 10.9.2

[2014-06-24 16:38] carlosrovira commented on #30
Hi Josh,

just tested on OS X 10.9.3 with latest Safari (Versión 7.0.4 (9537.76.4)), Chrome (Versión 35.0.1916.153) and Firefox (Version 30.0) and problem shows in all browsers. Don't think that OS X version be significative since all browsers are behaving in the same way in my machine.

I'll try to test in other machine other than this as I have some other available

[2014-06-24 16:42] Shelob9 commented on #30
Carlos-

Can you please share your Pods Debug Info form Pods Admin->Settings so I can see if there is anything there that might indicate why this is happening on your end, but not for me?

Also, have you tried without any other plugins active and with the default theme active to see if this might be a conflict with something you are running on your site?

Thanks for all of your patience and help.

[2014-06-25 14:05] carlosrovira commented on #30
Hi Josh,

I sent in private mail the debug info. In the other hand I didn't try it without plugins. Only disabled the a plugin for admin theme since it could be a potential problem and the root of such problem, but as I state in the screen shots it wasn't relevant in this case so I enable it again.

give the debug info, do you think I should disable all and try?

[2014-06-25 16:14] Shelob9 commented on #30
@carlosrovira I saw that email. I'd definitely recommend trying without any other plugins active. I bet one or your theme is causing the conflict and it would be helpful to know what that is. Nothing in the rest of the debug info jumps out at me, looks like you're running almost exactly the same base setup as me, possibly the same. VVV?

[2014-06-25 16:51] carlosrovira commented on #30
Hi Josh,

I disable all plugins and get it working. So I was activating one by one and refreshing to get the problematic plugin. The result was: WPML Multilingual CMS 3.1.5
luckily this WPML plugiin could be removed in my installation since it's of no use, but other using WPML could have problem. I don't know if this should be reported to WPML or is a frontier problem. Maybe you could get some lig

[2014-06-25 16:56] Shelob9 opened #32 "WPML Multilingual CMS 3.1.5 Breaks Frontier Layout"
As we discovered in #30 WPML Multilingual CMS 3.1.5 causes issues in the Frontier layout editor.

[2014-06-25 16:57] Shelob9 commented on #30
Thanks for doing this investigation work. I have opened a new issue to address the conflict with WPML #32 and will do some testing with it later to day to see if I can get to the bottom of this.

[2014-06-25 16:57] #30 closed, assigned to nobody

[2014-06-25 20:22] Shelob9 opened #33 "Provide A Way To Output A Frontier Via PHP"
This may already exist. I just can't find it. Currently in readme I recommend using `do_shortcode( '[frontier id="123456789"]' );` but we need a cleaner solution.

Related https://github.com/pods-framework/pods-frontier-auto-template/issues/24

[2014-06-30 09:51] carlosrovira opened #34 "Frontier in Multisite"
I just found an issue with my testing of Frontier in Multisite.

I you "Network Activate" Frontier, the main site shows blank page. But other sub sites works ok.

To workaround this issue, I network deactivate, and activate in the sub site I need it, since newer sub sites will be created as a copy of the before mentioned sub site with Frontier activated.

For more info, I'm using a Gavick Theme (G

[2014-06-30 16:42] Shelob9 commented on #34
I can confirm this with Pods and Pods-Frontier network activated main site gives this error:

`Fatal error: Call to undefined function frontier_get_regex() in ~/plugins/pods-frontier/pods-frontier.php on line 745`

Since `frontier_get_regex()` is in the Pods Template component so this must have to do with order of including files.

[2014-06-30 16:53] DavidCramer commented on #34
I can confirm it to.
I'll take a look at the includes.

-----Original Message-----
From: "Josh Pollock" notifications@github.com
Sent: ‎2014-‎06-‎30 06:42 PM
To: "pods-framework/pods-frontier" pods-frontier@noreply.github.com
Cc: "David Cramer" dlcramer@gmail.com
Subject: Re: [pods-frontier] Frontier in Multisite (#34)

I can confirm this with Pods and Pods-Frontier network activated main site giv

[2014-07-07 14:42] Pezzab commented on #34
I was about to submit what looked like a bug and came across this.  I came across the same issue as mentioned here (I also got the fatal error Josh mentions above), I'm on Multisite too.

It might be worth checking if Templates are activated in Components - I stopped getting the error once I sorted this.

Perhaps the error could be caught and a message reminding the user to activate templates coul

[2014-07-07 20:34] Shelob9 commented on #34
@Pezzab Have you tested what happens if you manually activate the Templates component before activating Frontier? Templates gets turned on with `pods_require_component()` which doesn't run until '[setup_theme](http://adambrown.info/p/wp_hooks/hook/setup_theme)', which is probably too late on network. I can't test right now, but I bet that's it.

If need be we can do something like this:
https://gi

[2014-07-07 20:51] Pezzab commented on #34
As far as I can tell if Templates is activated first then there isn't an issue.

[2014-07-07 20:56] Shelob9 commented on #34
Perry, that's excellent news. Thanks for testing this. I know how to fix this then and will later tonight.

[2014-07-10 14:37] carlosrovira opened #35 "new template tag [between] needed in frontier"
Hi I'm using frontier template tags extensively. I found a case where I need a new tag: [between]

The Use Case: I'm coding a chart in a template. I use [before] and [after] tags to define the javascript needed for the chart. The chart data is build with array notation (i.e: ["RM01", {@data1},{@data2}, 25])

The problem is that each array for each element needs to end with a "," character. All but

[2014-07-10 22:01] Shelob9 commented on #35
This does sound useful.
I wouldn't know where to tell you to look as I'm not very familiar with the source code for Frontier. David Cramer ( @Desertsnowman ) wrote it. I would recommend searching the source for what powers the before and after blocks. What you are talking about doing is very similar.

@Desertsnowman Didn't you tell me something last time we spoke about a counter that's running for

[2014-07-11 11:58] DavidCramer commented on #35
I have been toying with an idea to store values to use later.
something like `[store name="my_var"] stuff , {@tag} etc..  [/store]`
I can then use it later like  `[print name="my_var"]`.

I could look at making an array type on this.
`[store name="my_array" type="array"] stuff , {@tag} etc..  [/store]`
Then I can print out the array in a join.  `[print join="," name="my_array"]`

Having arrays wou

[2014-07-11 12:00] DavidCramer commented on #25
Is this still an issue?

[2014-07-11 18:28] Shelob9 commented on #25
Sorry, this is fixed. I am closing now.

[2014-07-11 18:28] #25 closed, assigned to DavidCramer

[2014-07-11 18:30] Shelob9 commented on #35
@Desertsnowman That sounds cool, but I don't see how that solves @carlosrovira problem.

He wants if he has a template that loops through 3 items, to set content to only run between item 1 and 2, and between 2 and 3, but not before 1 or after 3.

[2014-07-13 10:43] carlosrovira commented on #35
Bot solutions are useful:

a) Mine, is a solution that will make more useful for people with less programming skills since it's typical to control a loop with a counter and make if-else to output things elements output. Typical is my case with javascript array that need "," between elements.

b) David store tag could be useful as well in my case since each step in the loop can't store vars. If I u

[2014-07-15 20:54] carlosrovira commented on #35
@Desertsnowman have you plans to integrate your store/print in the current state? Maybe I could do [store name="counter"]++$counter[/store] and then opening php in the template store in a php var to use? $counter = [print name="counter"] so I can make if-else? Sounds feasible? Thanks

[2014-07-21 06:40] ghost opened #36 "No front-end after activating the plugin"
After activating the pods-frontier plugin i get a blank page on the front-end.
The only plugins i have activated are:
Pods - Custom Content Types and Fields
Pods Frontier
WordPress Importer

![image](https://cloud.githubusercontent.com/assets/6839895/3640457/5aa4e18c-10a1-11e4-96b5-c4f43d043cac.png)

[2014-07-21 22:10] Shelob9 commented on #36
A white screen usually means a fatal error without error display enabled. In order to help you, I need to know what that error is. Can you try again with WP_DEBUG and WP_DEBUG_DISPLAY set to true in your wp-config.php:
`
define('WP_DEBUG', true );
define('WP_DEBUG_DISPLAY', true);
`
For more information on debugging in WordPress, see: http://codex.wordpress.org/Debugging_in_WordPress

[2014-07-21 23:31] ghost commented on #36
On front-end:

`Fatal error: Call to undefined function frontier_get_regex() in /var/www/clients/client0/web7/web/wp-content/plugins/pods-frontier-1.0.x/pods-frontier.php on line 745`

LE: Seems like the cause was the Templates component which was disabled. My mistake, but there is no mentioning that the Templates component is required.

[2014-07-22 03:51] Shelob9 commented on #36
@ChainKiller The templates component should be activate automatically. My latest commit fixes the reason it wasn't.

[2014-07-22 03:51] #36 closed, assigned to nobody

[2014-07-22 03:53] Shelob9 commented on #34
@Pezzab and @carlosrovira I think this latest commit will fix this. Can either of you confirm?

[2014-07-22 08:45] Pezzab commented on #34
Hi Josh,

I've tried different combinations of deactivating/reactivating (via network and on a sub site) Pods Frontier and Pods Frontier Templates and it hasn't fallen over.

Do you reckon it needs trying out on a clean WP install just to be sure - I deleted all the podsrel tables and reinstalled Pods but some settings were carried over from before (components were still installed)?

[2014-07-22 14:31] Shelob9 commented on #34
@Pezzab  No, this should force the Template component to be activated when components are loaded. It works when not in multisite. Still trying to figure out why it doesn't when not in multisite.

Thanks for your testing.

[2014-07-22 17:07] carlosrovira commented on #34
Hi Just tested with no luck. Sorry the problem persist :(

[2014-07-22 19:12] Shelob9 commented on #34
@Pezzab and @carlosrovira thanks for your help on this. My latest commit works on my end, but I'd appreciate if you could test as well.

[2014-07-23 15:27] Shelob9 opened #37 "Function to parse code as Pods Template using Froniter"
Need to
- create a function in frontier, with one param $content that accepts the template code, as a string.
- Include_once pods/components/Templates/includes/functions-view_template.php
- pass $content to frontier_do_shortcode( $content )

[2014-07-23 15:34] Shelob9 opened #38 "Add filter to enable parsing other shortcodes/ functions in Templates without opening php tags."
Filter goes in pods/components/Templates/includes/functions-view_template.php ~L251

Need to document how to add shortcodes and functions.

Will give ability to parse shortcodes from other plugins, as well as custom functions.

[2014-07-23 15:35] Shelob9 opened #39 "UI For Enabling Shortcodes / Functions In Templates"
Using the filter added in #38 there should be a setting in the UI for entering the name of a shortcode to add to that filter.

[2014-07-23 19:50] Shelob9 commented on #38
Closing as should have been in Pods Core.
https://github.com/pods-framework/pods/issues/2304

[2014-07-23 19:50] #38 closed, assigned to Shelob9

[2014-07-23 19:54] Shelob9 opened #40 "Document pods_frontier_template_commands filter"
Related: https://github.com/pods-framework/pods/issues/2304

I need to figure out how (if possible) to use shortcode atts and not use shortcodes, which I think @Desertsnowman said is doable.

[2014-07-29 20:50] dleigh commented on #8
If what bonsak is saying is front-end user-sortable columns in a grid/table layout then that's exactly what I'm looking for and just wondering where we are on that since Dec 10th.

By the way Frontier is the glue that's missing in Pods - SOOOO GOOOOOD.  Thanks!

[2014-08-25 17:24] ashlynntribute opened #42 "Template [once] tag render content every iteration of [each] loop"
Clean latest Wordpress installation, only Pods and Pods Frontier plugins. Two Custom Post Types created, one having multiple ralationship field to other. In template, [each] tag is looping correctly through every related element, but content under [once] tag is rendering every time, not just first time like it suppose to.

[2014-08-25 17:46] jimtrue commented on #42
I can validate that the issue exists as well on a clean installation Pods & Pods Frontier plugins. See screenshot of Pods Template with `once` tag.

![screenshot 2014-08-25 13 43 56](https://cloud.githubusercontent.com/assets/3052875/4033809/8638fb86-2c7f-11e4-8634-72231239726b.png)

and resulting output in Twenty-Fourteen theme:

![screenshot 2014-08-25 13 45 56](https://cloud.githubusercontent.c

[2014-08-26 22:29] jamesgol commented on #3
I'll jump on this issue since it's related.  How about instead of "Save & Close" it's just "Save".  When I've been playing with this it has been kind of annoying to have to "Save & Close" and then go back in to keep testing stuff out.

[2014-08-27 00:19] Shelob9 commented on #3
+1

[2014-08-27 23:34] qrahaman opened #43 "Create New Frontier"
Hello,

Per the readme document, I am trying to create a new Frontier but do not see a way to do that through the Pods menu.  If you would like access to my site, I can provide you with credentials (email needed).  Here's the Settings info and I've included a screenshot of the menu that I see:

WordPress Version: 3.9.2

PHP Version: 5.4.31-1~dotdeb.0

MySQL Version: 5.5.5

Server Software: nginx/1

[2014-08-27 23:58] Shelob9 commented on #43
You're debug information does not show the Pods Frontier plugin as active. It is different from Pods Frontier Auto Template. I know those two names are confusing--that was a mistake on our part. The two plugins will likely be merged eventually, if not Auto Template will need to be renamed.

[2014-08-28 00:42] qrahaman commented on #43
Hello Josh,

Thanks.  Is it named something different... I cannot find it in the WP directory.  Or can I download it from Git?

Quint A. Rahaman, Jr.
Telesis Academy
734.657.7740

On Aug 27, 2014, at 4:58 PM, Josh Pollock notifications@github.com wrote:

[2014-08-28 00:50] qrahaman commented on #43
Never mind... I got it from Git.  Thanks!

Quint A. Rahaman, Jr.
Telesis Academy
734.657.7740

On Aug 27, 2014, at 4:58 PM, Josh Pollock notifications@github.com wrote:

[2014-08-28 15:46] Shelob9 commented on #43
@qrahaman I'm glad to see that you found it. Please let us know if there is anything else we can do to help.

[2014-08-28 15:46] #43 closed, assigned to nobody

[2014-10-02 12:58] kricou opened #44 "[if] shortcode does not work for an image field"
My simple template :
[if photo]
 &lt;div class="img"&gt;{@photo._img.medium}&lt;/div&gt;
[/if]

Photo is never displayed.

[2014-10-12 22:57] pmsteil commented on #44
Also encountered this bug...

[if photo]
{@photo._img}
[/if]

outside: {@photo._img}

The image will only be displayed the 2nd time...

[2014-10-21 19:29] Braintrash opened #45 "UI issue in admin area"
As you can see in this screenshot:

![frontier_ui_issue](https://cloud.githubusercontent.com/assets/1189112/4725277/2d314812-5958-11e4-84c5-650d4f6f63a6.png)

A part of the UI is covered by the "Layout Builder" part. Same for "Grid" and "Form".

My install is:

WordPress Version: 4.0

PHP Version: 5.2.6-1+lenny16

MySQL Version: 5.0.51

Server Software: Apache/2.2.9 (Debian) DAV/2 PHP/5.2.6-1+lenn

[2014-10-21 21:50] Shelob9 commented on #45
Thanks for the report. As it says in the readme, the layout editor does not function at this point.

[2014-10-22 05:15] Braintrash commented on #45
Oh, sorry, didn't thought the UI was included in the layout editor not working part of the readme.

[2014-10-31 14:57] quasel opened #46 "Error: TypeError: wp.mce is undefined"
Tested with Wordpress 4.0 - no plugins activated beside Pods/Frontier - you cant add/edit anything in frontier - deactivate the new live_preview actions/scripts back to normal ;)

Fehler: TypeError: wp.mce is undefined

[2014-10-31 15:23] quasel opened #47 "editing a frontier form - Base Pod on load isnt set correct"
Edit a Frontier form - Base Pod is not loaded correct ->
on save it saves the selcted Base Pod althoug no change from the user involved...

[2014-10-31 15:31] quasel commented on #3
+1
for testing your ideas it would be awesome to have just a save button ;)

[2014-11-06 15:47] djm56 commented on #46
I have the exact same issue as above, I dont understand the deactivate live_preview please could you explain better. I cannot add or edit.

[2014-11-06 15:55] djm56 commented on #46
Ok I figured it out had to comment out live_preview in pods-frontier-templates.php
Line 152  //wp_enqueue_script( $this->plugin_slug . '-live-preview', $this->get_url( 'assets/j...........
Now it is working again, dont know what I did but its working.

[2014-11-08 16:45] alexedev opened #49 "[each][/each] order by post publish date"
Hello.
How can I rewrite the code to have posts ordered by publish date when I use [each][/each]?

[2014-11-08 17:31] Shelob9 commented on #49
Are you asking how to rewrite Frontier itself to have an orderby param for the each loop? Because, that would be neat, though it would require Pods 2.4.4 or later, as most recent versions had a bug preventing passing parameters to `Pods::find()`.

I'm not sure exactly how this would be done, by suspect the answer is here:
https://github.com/pods-framework/pods/blob/2.x/components/Templates/include

[2014-11-09 13:14] alexedev commented on #49
Yes. I already looked at that function but did not succeed with the order change, because I'm not good with php(that is why I use pods-frontier advanced markup ;-) ) I think the order should be indicated somehow in $entries variable. Could you please help with it?

[2014-11-09 13:27] alexedev commented on #49
Or maybe it is possible somewhere to rewrite the default order for all pods entries which is now by title?

[2014-11-09 13:30] quasel commented on #49
Just a quick idea - didn't use frontier - but depends on CPT/ACT etc but you can set a default orderby  - for relationship fields -  pods admin -> pod -> field -> Additional Field Options ->   Customized ORDER BY:

e.g. - date DESC  should do the trick

[2014-11-09 13:44] alexedev commented on #49
@quasel that is exactly what I wanted, thanx!
Anyway, it would be cool to write smth like
[each pod_relatedpod where="" orderby=""]some code here[/each] as is possible with [pods ....]

I think the issue can be closed now. Thank you for your time!

[2014-11-09 13:44] #49 closed, assigned to nobody

[2014-11-09 13:56] quasel commented on #49
You are welcome ;) - yes something like that could indeed be useful.
or go create a pod page with customized ->find() an call the template from there pods()->template();  ;) but it involves a little bit more php

[2014-11-09 18:16] alexedev commented on #36
Getting the error Fatal error: Call to undefined function frontier_get_regex() in /home/peredovikby/www/bulbatour.by/wp-content/plugins/pods-frontier-1.0.x/pods-frontier.php on line 745 after transferring the site from localhost to production server.

The Templates component is activated.

Also there is a Fatal error: Call to undefined function pq_loadpod() in /home/peredovikby/www/bulbatour.by/wp

[2014-11-09 18:29] jamesgol commented on #36
@buduguru Let me guess, there is xcache running on the production server?  I experienced this when troubleshooting another bug.

My fix is here:
https://github.com/pods-framework/pods/pull/2437
Though it hasn't been properly tested, it at least solves the issues on my local test with and without xcache

[2014-11-09 21:12] alexedev commented on #36
@jamesgol thanks for your suggestion. I solved it by updating PHP to higher version 5.3 (the default one on my server is 5.2 which is too old). Now the site works properly and the template editor loads, but slowly(it takes about 10! seconds). I created a ticket in the server support about updating php to version 5.4+ (it is not impossible from the isp manager, hah:-) ) and disabling xcache. Will l

[2014-11-09 21:21] alexedev commented on #34
I got the same error but I solved it by updating PHP to higher version.

[2014-11-09 22:25] Shelob9 commented on #34
Might be time to make Frontier 5.3+ only. This plus the Template editor issue...

[2014-11-22 14:46] alexedev commented on #49
wanted to add that when you edit the relationship field that you want to order by date
in _pods admin -> pod -> field -> Additional Field Options -> Customized ORDER BY_
you need to add not **date DESC** but **'date DESC'**
otherwise you will get the error _Unknown column date in ‘order clause’_ when editing a pod

[2014-11-22 15:29] sc0ttkclark commented on #49
Actually, if you've created a field called "date" that's a MySQL reserved word. You should use backticks instead:

[code]

[2014-11-26 10:30] alexedev commented on #49
@sc0ttkclark no, it is not the field but parameter for **orderby**

[2014-12-05 14:28] carherbl opened #50 "JS error on shortcode-live-preview.js"
Hi!

first of all, thanks for developing such an interesting freature for pods, which is also a must in every WP installation.

I've just installed the pluggin, but I got some js error in shortcode-live-preview.js, which is also breaking the js WP funcionalities.

The error I get:

![image](https://cloud.githubusercontent.com/assets/9322909/5316868/fff70e66-7c90-11e4-8243-9427f6781e16.png)

which

[2014-12-05 14:35] DavidCramer commented on #50
Thanks, I found the issue will correct it asap

[2014-12-05 19:02] quasel commented on #46
i guess same issue https://github.com/pods-framework/pods-frontier/issues/50

[2014-12-05 19:02] #46 closed, assigned to nobody

[2014-12-05 19:23] Shelob9 commented on #50
@Desertsnowman Isn't this the same issue I showed you that one time in Caldera Forms?

[2015-01-05 03:15] mark2685 commented on #50
I'm seeing this error as well, any update on this, @Desertsnowman ?

[2015-01-05 03:17] Shelob9 commented on #50
@mark2685 The simplest solution to this issue is to update your WordPress version. This shouldn't be an issue in 4.0 and 4.1. The issue is related to changes in how MCE works in 4.0.

[2015-01-05 03:20] mark2685 commented on #50
@Shelob9 I'm currently on 4.1.

Pods - Version 2.5
Pods Frontier - Version 1.000
Pods Frontier Auto Template - Version 1.1.2

[2015-01-05 03:28] Shelob9 commented on #50
Hmmm. Then this isn't the issue I suspected. I will be talking about Frontier with @Desertsnowman this week and will make sure we discuss this issue.

[2015-01-05 11:26] #50 closed

[2015-01-20 18:40] Shelob9 opened #51 "IF block not functioning properly in Pods 2.5"
As reported here: http://pods.io/forums/topic/if-statement-doesnt-work-anymore/ the IF block is not behaving properly in Pods 2.5. It seems to be returning true, when testing if a value is set, when no value is set.

[2015-01-20 22:04] Shelob9 commented on #51
Closing as "need fixed in Pods core" https://github.com/pods-framework/pods/issues/2626

[2015-01-20 22:04] #51 closed

[2015-03-01 15:43] quasel opened #52 "[if] doesnt support traversal"
[if pod_rel.value]
{@podrel.value}
[/if]
 - always results to false and value is not displayed

[2015-04-01 23:16] PoetikDragon opened #53 "Calling [if] causes related field data changes"
I have a custom post type `dog` and custom taxonomy `pedigree`. The relationship field is called `registration`. The name of the pedigree is the dog's registered name and there are additional custom fields for the taxonomy: `number`, `gender`, `sire`, and `dam`. The last two fields (sire and dam) are relationships to other pedigrees.

I am displaying a dog's page using Pods Frontier Auto Template

[2015-04-02 00:29] PoetikDragon opened #54 "Using [if] with date fields"
I have a field called `date_of_birth` and `[if date_of_birth]` always resolves as true and displays the contents of the block, even when no date has been set.

[2015-04-03 00:21] Shelob9 commented on #54
_I think_ but could be wrong that this is because the fields default to a value that evaluates as true. Not sure.

[2015-04-03 00:24] Shelob9 commented on #53
I'm not sure what you are asking here. I think what you are asking is why `[if registration] {@registration.sire} [/if]` doesn't work. That's because you're doing what would be the equivalent outside of the if block to `{@registration.registration.sire}`. Instead do `[if registration] {@sire} [/if]`

[2015-04-04 01:31] PoetikDragon commented on #53
I don't believe that is correct. The context doesn't change inside the `[if]` block. I tested with this:

[code]

As expected, `{@name}` gives me the name of the post NOT `{@registration.name}` and the other two cells are empty strings because the post doesn't have properties called `registration_number` or `gender`.

Moreover `[if registration]{@sire}[/if]` is still an empty string.

[2015-04-04 05:15] DavidCramer commented on #53
The IF is just a check ams not a context shift.
inside it you'll still need to use {@registration.name} and so on.

[2015-04-14 20:39] WordpressReady opened #55 "Unable to find Pods Frontiers on WP admin"
Maybe this isn't an error, however I was unable to make Frontier work.

From https://github.com/pods-framework/pods-frontier
Reading it says
"To create a new Frontier layout or form go to the Frontier from the Pods Menu and select "Add New". "

However there is nothing there, and nothing is saying that the Frontier is even installed.

I've been using PODS 2.5.1.2 and Frontier 1.1.2, both activated

[2015-04-15 19:37] Shelob9 commented on #55
Frontier layouts do not work in this beta and will be removed in a future version

[2015-04-15 20:49] WordpressReady commented on #55
Thanks for reminding me.
The github version differed from the wordpress repository, that was the reason.
How Frontier would handle the layout then?
Thanks.

[2015-05-06 21:05] PoetikDragon commented on #53
@Desertsnowman That's why I am reporting this bug.

The display values CHANGE when wrapped inside an [if]...[/if] block. See my screenshot in the first post.

[2015-05-07 04:46] zarmath commented on #54
I've got a field slider_1and I trie to show in a template but only if the field is not empty. something like this:

`
[if slider_1]
<li><img src="{@slider_1._src}" /></li>
[/if]
`
but the result is:
`
<li><img src="" /></li>
`

[2016-06-03 12:52] Lucbug commented on #44
Also encountering this issue.
Anyone found a workaround ?

[2018-08-31 11:50] quasel commented on #47
moved into pods core ;)

[2018-08-31 11:50] #47 closed

[2018-08-31 11:51] DavidCramer commented on #47
@quasel wow! history right there!

[2018-08-31 20:06] quasel commented on #47
yes indeed - a long time ago :D